<h1 style="text-align: center; font-size: 30px; margin-bottom: 50px;">Olá seja bem vindo, esses são seus credores</h1>
<div class="columns is-centered my-5 ng-star-inserted">
  <div class="columns is-10">
    <div class="container">
      <table class="table" class="table is-fullwidth is-hoverable has-text-centered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data Prevista</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Açoes</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let d of dividas | async">
              <ng-container *ngIf="d.dados.status != 3">
                <td>{{d.key}}</td>
                <td>{{d.dados.dataPrevistaExecucao}}</td>
                <td>{{d.dados.valor}}</td>
                <ng-container *ngIf="d.dados.status == 1">
                  <td>Aberto</td>
                </ng-container>
                <ng-container *ngIf="d.dados.status == 2">
                  <td>Recebido</td>
                </ng-container>
                <td>
                  <div class="buttons">
                    <button (click)="showDetalheModal(d.dados)" class="button is-info is-small">
                      <span class="icon-text">
                        <span>Detalhes</span>
                      </span>
                    </button>
                    <ng-container *ngIf="d.dados.status == 1">
                    <button (click)="recebimentoDaDivida(d.key, d.dados)" class="button is-success is-small">
                      <span class="icon-text">
                        <span>Receber</span>
                      </span>
                    </button>
                    <button (click)="cancelamentoDaDivida(d.key, d.dados)" class="button is-danger is-small">
                      <span class="icon-text">
                        <span>Excluir</span>
                      </span>
                    </button>
                  </ng-container>
                  </div>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-container *ngIf="isDetailsModalVisible">
  <app-modal-detalhes (onClose)="isDetailsModalVisible = false" [divida]="dividaMostar"></app-modal-detalhes>
</ng-container>
